<header class="container mx-auto py-5 flex grid-cols-2 gap-6">
    <div class="w-3/6">
       <h5 class="text-4xl font-black ">Leo <span class="text-green-400">Sport</span></h5>
    </div>
    <nav class="w3/6">
        <ul class="flex gap-7 text-lg font-sans font-bold justify-items-center ">
            <a href=""><li class=" hover:text-yellow-800">Home</li></a>
            <a href=""><li class=" hover:text-yellow-800 ">About</li></a>
            <a href="product"><li class="scroll-pt-5  hover:text-yellow-800">Product</li></a>
            <a href=""><li class="">Contact</li></a>
            <a href="">Cart</a>
            <a href="login"><li>Login</li></a>
            <a href="signup"><li>SignUp</li></a>
        </ul>
    </nav>
</header>
<nav class="banner ">
    <div class="container mx-auto flex">
    <div class="mt-60">
        <h5 class="text-3xl font-medium italic mb-5">Leo <span class="text-green-400">Sport</span> </h5>
        <p class="italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <p class="italic">Recusandae illo perferendis facilis ut quo quasi eum! Optio dolor accusantium sint voluptatem fuga, quia dolorem voluptatum saepe iste aliquam obcaecati voluptas.</p>
        <button class="bg-green-400 h-12 w-32 w rounded-lg border mt-4 hover:bg-slate-300">Make Revation</button>

    </div>
    <div class="mt-28">
        <img src="https://templatemo.com/templates/templatemo_559_zay_shop/assets/img/banner_img_02.jpg" alt="">
    </div>
</div>
</nav>

<main>
<router-outlet></router-outlet>
</main>
<footer class=" bg-slate-700">
    <div class="container mx-auto flex grid-cols-3 py-10">
        <div class="w-2/6">
            <h5 class="text-3xl font-black mb-4">Leo <span class="text-green-400">Sport</span></h5>
            <hr>
            <a class="text-lg text-white mb-3" href="">Ha Noi-VietNam</a><br>
            <a class="text-lg text-white mb-3" href="">0342365505</a><br>
            <a class="text-lg text-white mb-3" href="">leohuy0387@gmail.com</a>
        </div>
        <div class="w-2/6">
            <h5 class="text-3xl text-white font-bold mb-4">Product</h5>
            <hr>
            <a class="text-lg text-white mb-3" href="">Luxury</a><br>
                <a class="text-lg text-white mb-3" href="">Sport Wear</a><br>
                <a class="text-lg text-white mb-3" href="">   Men's Shoes</a><br>
                <a class="text-lg text-white mb-3" href=""> Gym Accessories</a><br>
                <a class="text-lg text-white mb-3" href="">Sport Shoes</a><br>
        </div>
        <div class="w-2/6">
            <h5 class="text-3xl text-white font-bold mb-4">Further Info</h5><hr>
            <a class="text-lg text-white mb-3" href="">Home</a><br>
            <a class="text-lg text-white mb-3" href="">About</a><br>
            <a class="text-lg text-white mb-3" href="">Product</a><br>
            <a class="text-lg text-white mb-3" href="">Contact</a><br>
        </div>
    </div>
</footer>

