<header class="container mx-auto py-5 flex grid-cols-2 gap-6">
    <div class="w-3/6">
        <img class="ml w-36 h-14" src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/klassy-logo.png" alt="">
    </div>
    <nav class="w3/6">
        <ul class="flex gap-7 text-lg font-sans font-bold justify-items-center ">
            <li class=" hover:text-yellow-800">Home</li>
            <a href="#about"><li class=" hover:text-yellow-800 ">About</li></a>
            <a href="#product"><li class="scroll-pt-5  hover:text-yellow-800">Product</li></a>
            <li class=" hover:text-red-400">Contact</li>
            <a href="">Cart</a>
            <a href=""><li>Login</li></a>
        </ul>
    </nav>
</header>
<nav class="flex">
    <div class="bg-yellow-800 w-2/6 text-center text-white">
        <div class="my-44">
        <p class="text-3xl italic mb-3"> Nguyen's Coffee</p>
        <p class="font-semibold mb-3">THE BEST EXPERIENCE</p>
        <button class="bg-white text-red-400 rounded-lg w-40 h-12 hover:bg-red-100">Make a Reservation</button>
    </div>
    </div>
    
    <img  class="w-3/4 h-3/4" src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/slide-01.jpg" alt="">
</nav>
<div class="container mx-auto py-20 flex grid-cols-2 gap-6 ">
    <div class="w-3/6" id="about">
        <h6 class="  red-text text-xl mb-5">ABOUT US</h6>
        <p class=" text-3xl font-black">We Leave A Delicious </p>
        <p class=" text-3xl font-black  mb-5">Memory For You</p>
        <p class="mb-5">Klassy Cafe is one of the best restaurant HTML templates with Bootstrap v4.5.2 CSS framework. You can download and feel free to use this website template layout for your restaurant business. You are allowed to use this template for commercial purposes.</p>
        <p class="mb-5">You are NOT allowed to redistribute the template ZIP file on any template donwnload website. Please contact us for more information.</p>
        <div class="flex gap-3">
            <img src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/about-thumb-01.jpg" alt="">
            <img src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/about-thumb-02.jpg" alt="">
            <img src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/about-thumb-03.jpg" alt="">
        </div>
    </div>
    <div class="w-3/6">
        <img class="text-center" src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/about-video-bg.jpg" alt="">
    </div>
</div>
<hr>


<section class="pt-7">
    <div class="text-center py-7">
    <p class=" red-text text-xl py-5">Nguyen's Week</p>
    <p class="text-3xl font-black">This Week's Special</p>
    <p class="text-3xl font-black">Meal Offers</p>
</div>
<div class="flex justify-center gap-3 pt-5">
    <div class="text-center">
        <img src="http://127.0.0.1:5500/assets/images/tab-icon-01.png" alt="">
        <p class=" red-text font-black" >Breakfast</p>
    </div>
    <div class="text-center">
        <img src="http://127.0.0.1:5500/assets/images/tab-icon-02.png" alt="">
        <p class=" red-text font-black" >Lunch</p>
    </div>
    <div class="text-center">
        <img src="http://127.0.0.1:5500/assets/images/tab-icon-03.png" alt="">
        <p class=" red-text font-black">Dinner</p>
    </div>
</div>
<div class="container mx-auto flex grid-cols-2  my-10 ">
    <div class="w-3/6 mr-4">
        <div class="flex grid-cols-3">
            <div class="w-1/5">
            <img class="rounded-lg border" src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/tab-item-03.png" alt="">
        </div>
        <div class="w-3/5">
            <p class="text-xl font-black">Fresh Chicken Salad</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing . </p>
            <p>Facilis laborum consectetur eaque dolor voluptat.</p>
        </div>
            
            <div class="my-4 w-20 h-16  red-color rounded-lg text-center "><span class="text-center text-white font-bold ">10$</span></div>
        </div>
    </div>
    <div class="w-3/6">
        <div class="flex grid-cols-3">
            <div class="w-1/5">
            <img class="rounded-lg border" src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/tab-item-01.png" alt="">
        </div>
        <div class="w-3/5">
            <p class="text-xl font-black">Fresh Chicken Salad</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing . </p>
            <p>Facilis laborum consectetur eaque dolor voluptat.</p>
        </div>
            
            <div class="my-4 w-20 h-16  red-color rounded-lg text-center "><span class="py-4 text-white font-bold ">10$</span></div>
        </div>
    </div>
</div>
<div class="container mx-auto flex grid-cols-2  my-10 ">
    <div class="w-3/6 mr-4">
        <div class="flex grid-cols-3">
            <div class="w-1/5">
            <img class="rounded-lg border" src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/tab-item-04.png" alt="">
        </div>
        <div class="w-3/5">
            <p class="text-xl font-black">Fresh Chicken Salad</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing . </p>
            <p>Facilis laborum consectetur eaque dolor voluptat.</p>
        </div>
            
            <div class="my-4 w-20 h-16  red-color rounded-lg text-center "><span class="text-center text-white font-bold ">10$</span></div>
        </div>
    </div>
    <div class="w-3/6">
        <div class="flex grid-cols-3">
            <div class="w-1/5">
            <img class="rounded-lg border" src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/tab-item-02.png" alt="">
        </div>
        <div class="w-3/5">
            <p class="text-xl font-black">Fresh Chicken Salad</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing . </p>
            <p>Facilis laborum consectetur eaque dolor voluptat.</p>
        </div>
            
            <div class="my-4 w-20 h-16  red-color rounded-lg text-center "><span class="text-center text-white font-bold ">10$</span></div>
        </div>
    </div>
</div>
<div class="container mx-auto flex grid-cols-2  my-10 ">
    <div class="w-3/6 mr-4">
        <div class="flex grid-cols-3">
            <div class="w-1/5">
            <img class="rounded-lg border" src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/tab-item-05.png" alt="">
        </div>
        <div class="w-3/5">
            <p class="text-xl font-black">Fresh Chicken Salad</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing . </p>
            <p>Facilis laborum consectetur eaque dolor voluptat.</p>
        </div>
            
            <div class="my-4 w-20 h-16  red-color rounded-lg text-center "><span class="text-center text-white font-bold ">10$</span></div>
        </div>
    </div>
    <div class="w-3/6">
        <div class="flex grid-cols-3">
            <div class="w-1/5">
            <img class="rounded-lg border" src="https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/tab-item-06.png" alt="">
        </div>
        <div class="w-3/5">
            <p class="text-xl font-black">Fresh Chicken Salad</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing . </p>
            <p>Facilis laborum consectetur eaque dolor voluptat.</p>
        </div>
            
            <div class="my-4 w-20 h-16 red-color rounded-lg text-center ">
                
                <span class="text-center text-white font-bold ">10$</span></div>
        </div>
    </div>
</div>
</section>

<footer class="bg-amber-700 py-10 ">
    <div class="container mx-auto flex grid-cols-3 ">
    <div class="w-2/6">
        <img src="" alt="">
        <p class="text-2xl  font-bold">Nguyen's <span class="text-red-400">Coffee</span></p>
        <p>Thank </p>
        <div>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-tiktok"></i></a>
        </div>
    </div>
    <div class="w-2/6">
        <h4 class="text-2xl font-bold mb-4" >Store</h4>
        <li>Home</li>
        <li>About</li>
        <li>Product</li>
        <li>Contact</li>
    </div>
    <div>
        <h4 class="text-2xl font-bold mb-4">Service</h4>
        <li>Domain</li>
        <li>Tranfer</li>
        <li>Website</li>
        <li>Animation</li>
    </div>
</div>
</footer>
