
<div class="d-flex justify-content-between">
  <h2>Quản Lý Sản Phẩm</h2>
  <button class="btn btn-primary me-32 w-28" routerLink="/admin/product/add">Thêm</button>
</div>
<div class="table-responsive small">
  <table class="table table-striped bordered table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Giá</th>
        <th scope="col">Ảnh</th>
        <th scope="col">Mô Tả</th>
        <th scope="col">Hành Động</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of product;index as i">
            <td>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td class="w-52 h-28"><img src="{{item.image}}" alt=""></td>
            <td>{{item.desc}}</td>
            <td class="w-52">
              <button class="btn btn-danger mr-3" (click)="removeProduct(item.id)">Xóa</button>
              <button class="btn btn-success" routerLink="/admin/product/{{item.id}}/edit">Sửa</button>
            </td>
        </tr>
    </tbody>
  </table>
</div>